{{ define "main" }}

<section id="home">
  {{ if .IsHome }}
    
    <div style="text-align:center">
      <p>Hi! My name is Cortland. I <i>generate</i> waaay too much music.</p>
      <hr/>

      <p>My life's goal is to <b style="text-decoration: underline;">write the equation for music.</b></p>
      <p>It exists now as <b>Monic Theory</b>: A system rooted in the Harmonic Series.</p>

      <br/>
      <b>Monic Theory is a superset of:</b>
        <ul>
          <li>Western Music/12-ET</li>
          <li>Ragas of Inda</li>
          <li>Makams of Turkey</li>
          <li>Any tonal music on Earth</b>
        </ul>


      <p>It reveals beautiful symmetries of how chords work, and how melodies should be constructed.</p>
      <hr/>
      <br/>

      <p>I am working on methods to apply Monic Theory to produce music for millions of people simultaneously.</p>
      <p>If you need bulk music, please contact me here!<p>
        <h2><a href="https://tenpens.ink" target="_blank">https://tenpens.ink</a></h2>

        <hr/>

      <p>Hello, you have reached the website of <code>Cortland Mahoney</code>. <br>Please listen to four hours of generated music on YouTube: 
        
        <br>
        <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mFipUHqXrw0?si=T--cD080yj2ahuYb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <hr/>

      <p>This music was <i>composed</i> with my secret software, <code>tin-pan</code>.</p>

      <p>The compositions were <i>rendered</i> with the April 2024 model of my FOSS, <a href="https://github.com/ckmahoney/raudio" target="_blank"><code>raudio</code></a></p>


      <p>The video was <i>generated</i> with my secret software, <code>ross</code>.</p>
      <hr/>
      </div>
      
  {{ end }}
  <ul>
    {{ $pages := where site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages 500 }}
    {{ range $index, $page := $paginator.Pages }}

    <li {{if eq $index 0}}class="first" {{end}}>
      <h1><a href="{{ $page.Permalink }}" title="{{ $page.Title }}">{{ .Title }}</a></h1>
      {{ partial "aside" . }}
      {{ partial "featured_image" .}}
      <p>{{ .Summary }}</p>
      {{ if .Truncated }}
      <div style="display: block;width: 100%;">
        <a style="text-align:right; display: block;" href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
      </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</section>

<!-- {{ template "_internal/pagination.html" . }} -->

{{ end }}
